# Task 3 #
===============

В этом упражнении ты создашь так называемую витрину данных. Она представляет собой таблицу, которую можно использовать для аналитических целей. Обычно она создается путем объединения нескольких отдельных таблиц. В этом упражнении мы будем собирать различные данные о наших пользователях: когда они сделали свои первые коммиты, когда они впервые посетили ленту новостей и т. д. Это поможет позднее выполнить анализ данных.

Что тебе нужно сделать в этом упражнении (ознакомься с полным описанием задания):

In [1]:
# Импортируем библиотеки
import sqlite3
import pandas as pd

## Создай соединение с базой данных с помощью библиотеки sqlite3. ##
----------

In [2]:
# Создание соединения с БД
conn = sqlite3.connect("../data/checking-logs.sqlite")

In [3]:
cur_p = conn.cursor()
cur_p.execute("PRAGMA table_info(pageviews);")
[print(c) for c in cur_p.fetchall()] #вывод названия колонок pageviews

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'uid', 'TEXT', 0, None, 0)
(2, 'datetime', 'TIMESTAMP', 0, None, 0)

[None, None, None]

In [4]:
cur_c = conn.cursor()
cur_c.execute("PRAGMA table_info(checker);")
[print(c) for c in cur_c.fetchall()] #вывод названия колонок checker

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'status', 'TEXT', 0, None, 0)
(2, 'success', 'INTEGER', 0, None, 0)
(3, 'timestamp', 'TIMESTAMP', 0, None, 0)
(4, 'numTrials', 'INTEGER', 0, None, 0)
(5, 'labname', 'TEXT', 0, None, 0)
(6, 'uid', 'TEXT', 0, None, 0)

[None, None, None, None, None, None, None]

## Создай новую таблицу datamart в базе данных, объединив таблицы pageviews и checker с помощью только одного запроса. ##
---------

* Таблица должна содержать следующие столбцы: uid, labname, first_commit_ts, first_view_ts.
* first_commit_ts — это просто новое имя для столбца timestamp из таблицы checker; он показывает первый коммит конкретного лабораторного задания конкретного пользователя.
* first_view_ts — первое посещение пользователем из таблицы pageviews, метка времени посещения пользователем ленты новостей.
* По-прежнему нужно использовать фильтр status = 'ready'.
* По-прежнему нужно использовать фильтр numTrials = 1.
* Имена лабораторных заданий по-прежнему должны быть из следующего списка: laba04, laba04s, laba05, laba06, laba06s, project1.
* Таблица должна содержать только пользователей (uid с user_*), а не администраторов.
* first_commit_ts и first_view_ts должны быть распарсены как datetime64[ns].

In [5]:
Request = f"""SELECT s1.uid, s1.labname, s1.first_commit_ts, s2.first_view_ts
FROM (SELECT uid, labname, timestamp AS first_commit_ts FROM checker
WHERE uid LIKE 'user_%'
AND status = 'ready'
AND numTrials = 1
AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
GROUP BY uid, labname) AS s1 LEFT JOIN (SELECT uid, MIN(datetime) AS first_view_ts
FROM pageviews
WHERE uid LIKE 'user_%'
GROUP BY uid)
AS s2 ON s1.uid = s2.uid;"""

Datamart = pd.io.sql.read_sql(Request, conn,  parse_dates=['first_commit_ts','first_view_ts'])
Datamart.to_sql('datamart', conn, if_exists='replace',index=False)

Datamart

        uid   labname            first_commit_ts              first_view_ts
0    user_1    laba04 2020-04-26 17:06:18.462708 2020-04-26 21:53:59.624136
1    user_1   laba04s 2020-04-26 17:12:11.843671 2020-04-26 21:53:59.624136
2    user_1    laba05 2020-05-02 19:15:18.540185 2020-04-26 21:53:59.624136
3    user_1    laba06 2020-05-17 16:26:35.268534 2020-04-26 21:53:59.624136
4    user_1   laba06s 2020-05-20 12:23:37.289724 2020-04-26 21:53:59.624136
..      ...       ...                        ...                        ...
135  user_8   laba04s 2020-04-19 10:22:35.761944                        NaT
136  user_8    laba05 2020-05-02 13:28:07.705193                        NaT
137  user_8    laba06 2020-05-16 17:56:15.755553                        NaT
138  user_8   laba06s 2020-05-16 20:01:07.900727                        NaT
139  user_8  project1 2020-05-14 15:42:04.002981                        NaT

[140 rows x 4 columns]

### Для проверки

In [6]:
Datamart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              140 non-null    object
 1   labname          140 non-null    object
 2   first_commit_ts  140 non-null    datetime64[ns]
 3   first_view_ts    59 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 4.5+ KB

## Используя методы библиотеки Pandas, создай два датафрейма: test и control ##
-----

* test должен включать пользователей, у которых имеются значения в first_view_ts.
* control должен включать пользователей, у которых отсутствуют значения в first_view_ts.
* Замени пропущенные значения в control средним значением first_view_ts пользователей из test (оно пригодится нам для анализа в будущем).
* Сохрани обе таблицы в базе данных (вы будете использовать их в следующих упражнениях).

In [7]:
test = Datamart[Datamart["first_view_ts"].notnull()]
control = Datamart[Datamart["first_view_ts"].isnull()]

mean_first_view_ts = test['first_view_ts'].mean()
control['first_view_ts'].fillna(mean_first_view_ts, inplace=True)

control.to_sql('control', conn, if_exists='replace',index=False)
test.to_sql('test', conn, if_exists='replace',index=False)

C:\Users\evpet\AppData\Local\Temp\ipykernel_8896\2316892635.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control['first_view_ts'].fillna(mean_first_view_ts, inplace=True)

59

### Для проверки

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 0 to 114
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              59 non-null     object
 1   labname          59 non-null     object
 2   first_commit_ts  59 non-null     datetime64[ns]
 3   first_view_ts    59 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 2.3+ KB

In [9]:
control.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 12 to 139
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              81 non-null     object
 1   labname          81 non-null     object
 2   first_commit_ts  81 non-null     datetime64[ns]
 3   first_view_ts    81 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 3.2+ KB

## Закрой соединение с базой данных. ##
------

In [10]:
# Закрытие соединения с базой данных
conn.close()

### Для проверки:

In [11]:
# Открываем соединение с БД
conn = sqlite3.connect("../data/checking-logs.sqlite")
test = pd.io.sql.read_sql('SELECT * FROM test', conn)
#test

In [12]:
# Закрытие соединения с базой данных
conn.close()

In [13]:
#Открываем соединение с БД
conn = sqlite3.connect("../data/checking-logs.sqlite")
control = pd.io.sql.read_sql('SELECT * FROM control', conn)
#control

In [14]:
# Закрытие соединения с базой данных
conn.close()